body{
    display: grid;
    grid-template-areas: 
    'nav'
    'filtro'
    'menu'
    'pie';
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
}


nav{
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: beige;
    background-color:  #51693C;
}

.navizq{
    display: flex;
    align-items: center;
    gap: 20px;
}

i, span{
    font-size: 25px;
}

.filtro{
    grid-area: filtro;
    background-color: #363E2E;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-size: 15px;
    color: inherit;
}

.filtro a{
    color: wheat;
    padding: 15px;
    border-right: 1px solid gray;
    text-decoration: none;
}
/*
.paginas{
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: 4px;
    margin-bottom: 20px;
}

.paginas a{
    color: blue;
    padding: 15px;
    border-right: 1px solid gray;
    text-decoration: none;
}*/

footer{
    grid-area: pie;
    background-color: #30332E;
    color: beige;
    font-weight: bold;   
}

.final a{
    color: wheat;
    padding: 15px;
    border-right: 1px solid gray;
    text-decoration: none;
    
}

footer div,p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.cafes{
    grid-area: menu;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cafe{
    display: flex;
    flex-direction: column;
    border: 1px solid lightblue;
    margin: 20px;
    text-align: justify;
    padding: 20px;
}
.filtro2{
    display: none;
}
.cafe{
    position: relative;
}
.zoom img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: backgr
}

.boton:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer; /* Cambia el cursor al estilo "mano" */
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #51693C;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
}

.cafe h3{
    text-align: center;
}
.cafe img {width: 100%;}

.origen{
    background-color: moccasin;
    padding: 10px 50px;
}
.orig img{
    display: flex;
    width: 80%;
}


@media (min-width:576px){
    body{
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-areas:
        'nav nav'
        'filtro menu'
        'pie pie';
        height: 100vh;
    }

    .filtro{
        grid-area: filtro;
        background-color: #363E2E;
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        font-size: 15px;
    }
    
    .filtro a{
        color: wheat;
    }

    nav{
        grid-area: nav;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: beige;
        background-color:  #51693C;
    }
    .navcompleto {
        display: flex;
        align-items: center;
    }
 
    .navizq {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    
    .barra {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;   
    }
    .icons{
        display: flex;
        flex-direction: row;
        justify-items: center; 
    }

    .cafes {
        grid-area: menu;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
    }

    .cafe:nth-child(n+2){
        display: block;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .cafe{
        display: flex;
        flex-direction: column;
        justify-items: center;
        border: 1px solid darkgreen;
        margin: 5px;
        text-align: justify;
        padding: 1px;
        width: 35%;
        height: 60%;
    }

    .origen{
        background-color: moccasin;
        width: 100%;
        height: 20%;
        margin: 0;
        padding: 60px 100px;
    }

    .orig{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .origen img{
        height: 500px;
        margin-right: 50px;
    }

    .button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: darkgreen;
        color: white;
        border: none;
        border-radius: 4px;
        margin: 5px 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .boton:hover{
        transform: scale(1.1);
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }

    footer{
        grid-area: pie;
        padding: 80px;
    }

    footer a{
        color: wheat;
        text-decoration: none;
        margin-left: 10px;
    }
}  